{% extends 'base.html' %}

{% block content %}


{% if user_id %}
    {% include 'navbar.html' %}
{% endif %}


    <main>
        <div>
            Subscription Page
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    {% for col in membercols %}
                        {% if loop.index0 != 4 %}
                            <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in memberresults %}
                <tr>
                    {% for col in membercols %}
                        {% if loop.index0 != 4 %}
                            <td>{{ result[loop.index0] }}</td>
                        {% endif%}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <p>© Copyright 2023 Fitness Club</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


{% endblock %}

