{% extends 'base.html' %}

{% block content %}


<div class="container">
        <div class="row login-row">
            <div class="col-md-6 col-xs-12">
                <img src="static/image/bg.jpg" alt="Login Image"
                    class="img-responsive" />  <!-- Free copyrighted images from pexels pages-->
            </div>
            <div class="col-md-4 col-xs-12 login-form-layout">
                <form method="POST">
                    <h2>Login Now</h2>

                    <div class="form-outline mb-4">
                         <label class="form-label" for="form2Example1">Email address:</label>
                    <input type="email" name="user_email" placeholder="Your Email" class="form-control" id="form2Example1" />

                     <label class="form-label" for="form2Example2">Password:</label>
                    <input type="password" name="user_password" placeholder="Your Password" class="form-control" id="form2Example2"/>

                    </div>
                    <br>

                    {% if error_msg %}
                        <div class="error_msg">
                            {{error_msg}}
                        </div>
                    {% endif %}
                    <br>
                    <input type="submit" value="Login" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>


{% endblock %}